body {

    color: white;
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
    height: 100%;
    margin: 0;

}

html {
    height: 100%;
}

.bg {
    height: 100%;
    background-image: url(Images/HomePageGraffitiWall.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#TeamThirteen {
    margin-left: 15%;
    margin-right: 15%;
    opacity: 75%
    
    
    
   
}

#TeamThirteen img {
    max-width: 100%;
    height: auto;
    display: block;
}

.audio {
    display: flex;
    justify-content: center;
    align-items: center;
    

}


}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 10s;
    animation-name: fade;
    animation-duration: 12s;
}

@-webkit-keyframes fade {
    from {
        opacity: .1
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .1
    }

    to {
        opacity: 1
    }
}




/*-------------------------Media Queries-------------------------*/

@media all and (max-width: 600px) {
    
    footer {
        margin-left: 0%;
    }
    
    #TeamThirteen {
        margin-left: 15%
    }
    
    .audio {
        margin-left: 30%;
        margin-top: 130%
    }
        
    
    
    
        
    
}

@media all and (min-width: 601px) and (max-width:992px) {
    
    footer {
        margin-left: 0%
    }
    
    #teamThirteen {
        
        margin-left: 20%;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }
    
    .audio {
        margin-left: 30%;
        margin-top: 130%
    }
}


