/*------ - APPEARANCE - ------*/
body, html {
    background: #333;
    color: white;
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
    background-image: url(Images/brickworkBackground.jpg);
}

/*--------- - Headers - -------*/
#header {
    max-width: 60%;
    margin-left: 30em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    opacity: 75%;
}

/*#GraffitiTech {
}*/

#technologyPic {
    max-width: 60%;
    margin-left: -0.3em;
    margin-top: 3em;
    opacity: 90%;
}

h1 {

    color: lawngreen;
    text-align: center;
    text-shadow: 4px 4px 2px rgba(0,0,0, 0.8);  
    background-color: rgba(51,51,51, 0.8);
    background-size: contain;
    padding-top: 1px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin: 10px;
    border: 11px;
    border-style: ridge;
    border-color: #ff69b4;
    cursor: default;
}

h2 {    
    color: lawngreen;
    text-align: center;
    text-shadow: 4px 4px 2px rgba(0,0,0, 0.8);  
    background-color: rgba(51,51,51, 0.8);
    background-size: contain;
    padding-top: 1px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin: 10px;
    border: 4px;
    border-style: ridge;
    border-color: #ff69b4;
    cursor: default;
}

h3 {
    color:lawngreen;
    text-align: center;
    text-shadow: 4px 4px 2px rgba(0,0,0, 0.8);  
    background-color: rgba(51,51,51, 0.8);
    background-size: contain;
    padding-top: 15px;
    padding-right: 10px;
    padding-bottom: 15px;
    padding-left: 10px;
    margin: 10px;
    border: 5px;
    border-style: ridge;
    border-color: #ff69b4;
    cursor: default;
}

h4 {    
    color:lawngreen;
    text-align: center;
    text-shadow: 4px 4px 2px rgba(0,0,0, 0.8);  
    background-color: rgba(51,51,51, 0.8);
    background-size: contain;
    padding-top: 1px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin: 10px;
    border: 3px;
    border-style: ridge;
    border-color: #ff69b4;
    cursor: default;
}

/*----- - Body - -----*/

p {
    color: white;
    text-align: justify;
    text-shadow: 4px 4px 2px rgba(0,0,0, 0.9);
    cursor: default;
}

/*img {
}*/

abbr {
    font-style: italic;
    color: #FEECF7;
    text-decoration: 1px underline;
    cursor: default;
}

blockquote {
    color:  #b0fd66;
    text-shadow: 4px 4px 2px rgba(0,0,0, 0.9);
    cursor: default;
}

/* Container for text */
.box {
    background-color: rgba(51,51,51, 0.44);
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-left: 25px;
    margin: 10px;
    border-style: groove;
    border-color: #ff69b4;
}

/*-------- images body ----------*/

.tech-img img{
    display: block;
    height: auto;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.5em;
    border: 5px ridge #ff69b4;
}

.servers img {
    display: block;
    height: auto;
    width: 50%;
    max-width: 30%;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.5em;
    border: 5px ridge #ff69b4;
}

.diagram img {
    
    display: block;
    height: auto;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.5em;
}

/*-------- - Lists - ------*/

ul {
    color: white;
    text-decoration-style: dotted;
    text-shadow: 4px 4px 2px rgba(0,0,0, 0.9);
    list-style-type: square;
    cursor: default;    
}

dl, dd {
    color: white;
    text-decoration-style: dotted;
    text-shadow: 4px 4px 2px rgba(0,0,0, 0.9);
    list-style-type: square;
    cursor: default;    
}

dt {
    color: #b0fd66	;
    text-decoration: 2px underline #ff69b4;
    cursor: default;
}

/*--------- Hyperlinks -------*/

a {
    color: #FEECF7;
    font-style: italic;
    text-decoration: 2px underline;
}

a:hover {
    color: #ff69b4;
}

/*--------- References -------*/
.reference {
    font-style: oblique;
    text-align: center;
    line-height: 1.4;
}


/*----------Main Tab Style--------*/
.tablink {
    background-color: #333;
    color: #ff69b4;
    float: left;
    border: 0.5px solid #ff69b4;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    line-height: 0.8em;
    width: 25%;
}

.tablink:hover {
    background-color: #777;
    color: lawngreen;
}

/*----Style Tab Content ---*/

.tabcontent{
    color: white;
    display: none;
    padding: 1em;
    height: 100%;
    font-size: 30px;       
}

/*--------------- - - Media Queries - - ------------------*/

@media all and (max-width: 600px) {
    
    h1 { 
        font-size: 0.7em;
    }
    
    h2, h3, h4, h4 {
        font-size: 0.6em;
        word-wrap: break-word;
    }
    
    .box {
        display: block;
        margin: 0px;
        border: 0.1px ridge #ff69b4;
        font-size: 0.6em;
        word-wrap: break-word;
    }
    
    #GraffitiTech img {
        margin-left: 20%;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }
    
    .tech-img img{
        width: 50%;
        max-width: none;
    }
    
    .servers img {
        width: 40%;
        max-width: none;
    }

    .diagram img {
        width: 60%;
        max-width: none;
    }
    
    
}

@media all and (min-width: 601px) and (max-width:992px) {
    
    h1 {
        font-size: 0.9em;
    }
    
    h2, h3, h4, h4 {
        font-size: 0.8em;
        word-wrap: break-word;
    }
    
    .box {
        
        display: block;
        margin: 0px;
        border: 1px ridge #ff69b4;
        font-size: 0.8em;
        word-wrap: break-word;
    }
    
    #GraffitiTech img {
        margin-left: 20%;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }
    
     .tech-img img{
        width: 60%;
        max-width: none;
    } 
    
    .servers img{
        width: 60%;
        max-width: none;
    }
    
    .diagram img{
        width: 50%;
        max-width: none;
    }

}

@media all and (min-width: 993px) and (max-width:1200px) {
    
    .box {
        font-size: 0.9em;
    }
    
    #GraffitiTech img {
        margin-left: 20%;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    } 

    .tech-img img {
        width: 50%;
        max-width: none;
    }
    
    .servers img{
        width: 50%;
        max-width: none;
    }
    
    .diagram img{
        width: 60%;
        max-width: none;
    }

}

@media all and (min-width: 1201px) and (max-width:1400px) {
    
    
    #GraffitiTech img {
        margin-left: 22%;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }

}

@media all and (min-width: 1400px) and (max-width:1900px) {
    
    
    #GraffitiTech img {
        margin-left: 20%;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }

}
