body {
    background-image: url(Images/brickworkBackground.jpg);
    color: white;
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
}

.accordion {
    background-color: #ff64b4;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px solid #ff64b4;
    text-align: left;
    outline: none;
    font-size: 1.5em;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: transparent;
    border-color: #99ff33;
}

.accordion:after {
    content: '\002B';
    color: #99ff33;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: .5em;
}


#header {
    max-width: 60%;
    margin-left: 27em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    opacity: 100%;
}