body {
    background-image: url(Images/brickworkBackground.jpg);
    color: white;
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
}

.accordion {
    background-color: #333;
    color: #ff64b4;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px solid #ff64b4;
    text-align: left;
    outline: none;
    font-size: 1.5em;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: solid;
    border-color: #99ff33;
}

.accordion:after {
    content: '\002B';
    color: #99ff33;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: .5em;
}


#header {
    max-width: 60%;
    margin-left: 30em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    opacity: 75%;
}

.question1 {
    color: white;
    font-size: 2em;
}

/* Media Queries */

@media all and (max-width: 600px) {

    
    #header {
        margin-left: 20%;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }
}

@media all and (min-width: 601px) and (max-width:992px) {
    
    
    #header {
        margin-left: 20%;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }

}

@media all and (min-width: 993px) and (max-width:1200px) {
    
    
    #header {
        margin-left: 20%;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }

}

@media all and (min-width: 1201px) and (max-width:1400px) {
    
    
    #header {
        margin-left: 22%;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }

}

@media all and (min-width: 1400px) and (max-width:1900px) {
    
    
    #header {
        margin-left: 20%;
        margin-top: 1.5em;
        margin-bottom: 1.5em;
    }

}

/* Button to video  */

* {
    font-family: sans-serif;
    letter-spacing: 4px;
    background-color: transparent;
}

.container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    min-height: 100hv;
}

.btn-1 {
    width: 300px;
    height: 50px;
    border: none;
    color: #99ff33;
    background-color: #ff64b4;
    border-radius: 4px;
    box-shadow: inset 0 0 0 0 ;
    transition: ease-out 0.3s;
}

.btn-1:hover {
    box-shadow: inset 300px 0 0 0 #99ff33;
    cursor: pointer;
    color: #ff64b4;
}



