#navbar {
overflow:hidden;
   width: 100%;
}

#navbar a:hover{
   color:  hotpink;
}

#navbar a {
    float:left;
    display: block;
    font-size: 15px;  
    font-style: italic;
    text-align: center;
    padding: 17px 5px;
    text-decoration: none;

    width:13.5%;
    font-weight: 600;


}

 #home, #team, #profile, #data, #work, #tech, #project  {
    background-color: black;
    color: white;

}



@media all and (max-width: 600px) {


#navbar a {
    width:12.0%;
    font-size: 12px;
    padding: 4px;
}
}

@media all and (min-width: 601px) and (max-width:992px) {

    #navbar a {
    width:12.0%;
    font-size: 14px;
    padding: 6px;
}


    }

@media all and (min-width: 993px) and (max-width:1300px){

    #navbar a {
    width:13.0%;
    font-size: 15px;
    padding: 6px;

    }
    #navbar a:hover{
   color:  cadetblue;
}
}
