body {
    background: #333;
    color: white;
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
    background-image: url(Images/brickworkBackground.jpg);
}

/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;

}

/* Style the buttons that are used to open the tab content*/
.tab button {
    background-color: #333;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width: 16.66%;
    color: #ff69b4;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 1em;
    border: 1em solid black;
    background-color: black;
}




.flex-container {
    display: flex;
    flex-direction: row;
    background-color: black;
    border: 1em groove green;
    width: 100%;
}

img {
    border: 1em solid black;
    max-width: 20%;
}


#aboutInfo {

    color: white;
    text-decoration: none;
    margin: 2em;

}

#aboutInfo h3 {
    font-size: 2.5em;
    font-weight: 700;
    margin-bottom: 2em;
}


#theTeam img {
    max-width: 80%;
    margin: 5%;
    border: none;
    margin-left: 10%;
    opacity: 75%
}

#theTeamImages {
    margin-left: 5%;
}

#theTeamImages img {
    float: left;
    display: block;
    width: 13%;
    margin-left: 1.7em;
    opacity: 85%;
    border: .5em solid white;

}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
}

@-webkit-keyframes fade {
    from {
        opacity: .1
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .1
    }

    to {
        opacity: 1
    }
}




.fade1 {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;

}

.fade2 {

    -webkit-animation-name: fade;
    -webkit-animation-duration: 5s;
    animation-name: fade;
    animation-duration: 5s;

}

.fade3 {

    -webkit-animation-name: fade;
    -webkit-animation-duration: 7s;
    animation-name: fade;
    animation-duration: 7s;

}


.fade4 {

    -webkit-animation-name: fade;
    -webkit-animation-duration: 8s;
    animation-name: fade;
    animation-duration: 8s;

}


.fade5 {

    -webkit-animation-name: fade;
    -webkit-animation-duration: 9s;
    animation-name: fade;
    animation-duration: 9s;

}

.fade6 {

    -webkit-animation-name: fade;
    -webkit-animation-duration: 10s;
    animation-name: fade;
    animation-duration: 10s;


}


/*-------------------------Media Queries-------------------------*/

@media all and (max-width: 600px) {

    .flex-container {
        display: block;
        text-align: center;
        border: 0.5em groove green;

    }

    .flex-container img {
        width: 70%;
        max-width: none;

    }



    #theTeamImages img {
        float: none;
        max-width: none;
        width: 80%;

        margin: auto;
    }

}

@media all and (min-width: 601px) and (max-width:992px) {

    .flex-container {
        display: block;
        text-align: center;
        border: 0.5em groove green;

    }

    .flex-container img {
        width: 70%;
        max-width: none;

    }




    #theTeamImages img {
        float: none;
        max-width: none;
        width: 80%;
        margin: auto;
    }
}

@media all and (min-width: 993px) and (max-width:1200px) {

    .flex-container {
        display: block;
        text-align: center;
        border: 0.5em groove green;

    }

    .flex-container img {
        width: 70%;
        max-width: none;


    }


    #theTeamImages img {
        float: left;
        display: block;
        width: 13%;
        margin-left: 0.8em;



    }
}


@media all and (min-width: 1201px) and (max-width:1420px) {

    .flex-container img {
        min-width: 30%;

    }

    #theTeamImages img {
        float: left;
        display: block;
        width: 13%;
        margin-left: 1.0em;

    }


}

@media all and (min-width:1421px) and (max-width:1500px) {

    .flex-container img {
        min-width: 30%;

    }


    #theTeamImages img {
        float: left;
        display: block;
        width: 13%;
        margin-left: 1.2em;

    }


}
