
/* APPEARANCE */
body {
    background: #333;
    color: white;
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
    background-image: url(Images/brickworkBackground.jpg);
}




/*----------Headers--------*/
#header {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    opacity: 75%;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3 {
    text-align: center;
}

/*------ Font -----*/

*{
    box-sizing: border-box;
}

body, html{
    height: 100%;
    margin: 0;
    font-family: lato, sans-serif;
}

/*----------Links----------*/

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: lawngreen;
}

p, ul, ol {
    font-size: 18px;
}

/*------Images------*/
img {
    display: block;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
}

/*----------Main Tab Style--------*/

#tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}

.tablink {
    background-color: #333;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width: 20%;
    color: #ff69b4;
}

.tablink:hover {
    background-color: #ddd;
}

.tablink:active {
    background-color: #ccc;
}

/*----Style Tab Content ---*/

.tabcontent{
    color: lawngreen;
    display: none;
    padding: 10%;
    height: 100%;
    font-size: 30px
}

#mainArea {
    padding-bottom: 1%;
}

/*-----paragraph text-----*/

#paragraphs {
    color: white;
}

#astroman {
    max-width: 60%;
    /* margin-left: 30em;
    margin-top: 1.5em;
    margin-bottom: 1.5em; */
    opacity: 75%;
    margin-left: auto;
    margin-right: auto;
}

#toDoTopiaPic {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.em;
    margin-bottom: 1.em;
    opacity: 75%; 
}


/*----------MEDIA QUERIES----------*/

@media (max-width: 600px) {
    img {
        float: none;
    }

}

@media (min-width: 800px) {
    img {
        float: right;
        width: 50%;
        padding: 18px;
    }

    #astroman {
        float: none;
    }

    #header {
        float: none;
    }

    #toDoTopiaPic {
        float: none;
        max-width: 50%;
    }
    
}
