
/* APPEARANCE */
body {
    background: black;
    color: white;
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    max-width: 900px;
    padding-left: 50px;
    /* ^ Check IIT A1 File on How to Centre Page Content */
}

h1 {
    text-align: center;
}

.li-2 {
    padding-left: 10px;
}

/* AFFECTS */
.flex-container {
    display: flex;
    flex-direction: row;
    background-color: black;
    border: 1em groove green;
}

img {
    border: 1em solid black;
    max-width: 20%;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 3s;
    animation-name: fade;
    animation-duration: 3s;
}

@-webkit-keyframes fade {
    from {
        opacity: .1
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .1
    }

    to {
        opacity: 1
    }
}

/*-------------------------Media Queries-------------------------*/

@media all and (max-width: 600px) {

    .flex-container {
        display: block;
        text-align: center;
        border: 0.5em solid green;

    }

    .flex-container img {
        width: 90%;
        max-width: none;

    }

    #theTeam {
        font-size: 3em;
        font-weight: 700;
        font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
        color: pink;
        text-align: center;

    }

    #theTeamImages img {
        float: none;
        max-width: none;
        width: 80%;
        border: .2em solid green;
        margin: auto;
    }

}

@media all and (min-width: 601px) and (max-width:992px) {

    .flex-container {
        display: block;
        text-align: center;
        border: 0.5em solid green;

    }

    .flex-container img {
        width: 90%;
        max-width: none;

    }


    #theTeam {
        font-size: 3em;
        font-weight: 700;
        font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
        color: yellow;
        text-align: center;

    }

    #theTeamImages img {
        float: none;
        max-width: none;
        width: 80%;
        border: .2em solid pink;
        margin: auto;
    }
}

@media all and (min-width: 993px) and (max-width:1200px) {

    .flex-container {
        display: block;
        text-align: center;
        border: 0.5em solid green;

    }

    .flex-container img {
        width: 70%;
        max-width: none;


    }

    #theTeam {
        font-size: 3em;
        font-weight: 700;
        font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
        color: aqua;
        text-align: center;

    }

    #theTeamImages img {
        float: left;
        display: block;
        width: 12%;
        margin-left: 0.8em;
        border: 1em solid brown;


    }
}


@media all and (min-width: 1201px) and (max-width:1420px) {
    
        
    #theTeam {
        font-size: 3em;
        font-weight: 700;
        font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
        color: hotpink;
        text-align: center;

    }

    #theTeamImages img {
        float: left;
        display: block;
        width: 12%;
        margin-left: 1.0em;
        border: 1em solid green;
    }


}

@media all and (min-width:1421px) and (max-width:1450px) {
    
    
    #theTeam {
        font-size: 3em;
        font-weight: 700;
        font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
        color: skyblue;
        text-align: center;

    }

    #theTeamImages img {
        float: left;
        display: block;
        width: 12%;
        margin-left: 1.2em;
        border: 1em solid purple;
    }


}
