
/* APPEARANCE */
body {
    background: #333;
    color: white;
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
    background-image: url(Images/brickworkBackground.jpg);
    
}




/*----------Headers--------*/
#header {
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    opacity: 75%;
    margin-left: auto;
    margin-right: auto;
}

h1, h2, h3 {
    text-align: center;
    color: #00ff00;
    font-size: 3em;
}





/*----------Links----------*/

a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-decoration: underline;
}

a:hover {
    color: #00ff00;
}

p, ul, ol {
    font-size: 18px;
}

/*------Images------*/
img {
    display: block;
    max-width: 80%;
    margin-right: auto;
    margin-left: auto;
}

/*----------Main Tab Style--------*/

#tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #333;
}

.tablink {
    background-color: #333;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    width: 20%;
    color: #ff69b4;
    
}

.tablink:hover {
    background-color: #ddd;
}

.tablink:active {
    background-color: #ccc;
}

/*----Style Tab Content ---*/

.tabcontent {
    display: none;
    padding: 10%;
    height: 100%;
    
}

#references p{
    font-size: 1em;
    background-color:  gainsboro; opacity: 0.8;
    padding: 0.5em;
    color: #333;
    border: .2em solid #ff69b4;
    font-weight: 800;
    
}

.paragraphs p{
    font-size: 2em;
    font-weight: 600;
}

#mainArea {
    padding-bottom: 1%;
}

/*-----paragraph text-----*/



#references {
    color: lightgray;
    size: 18px;
}

#references a {
    color: lightgray;
}

#reference a:hover {
    color: limegreen;
}

#astroman {
    max-width: 60%;  
    opacity: 75%;
    margin-left: auto;
    margin-right: auto;
}

#toDoTopiaPic {
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.em;
    margin-bottom: 1.em;
    opacity: 75%; 
}




/*----------MEDIA QUERIES----------*/

@media (max-width: 600px) {
    img {
        float: none;
    } 

    

}

@media (min-width: 800px) {
    img {
        float: right;
        width: 50%;
        padding: 18px;
    }

    #astroman {
        float: none;
    }

    #header {
        float: none;
    }

    #toDoTopiaPic {
        float: none;
        max-width: 50%;
    }
    
}
