body {
    background: #333;
    color: white;
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
    background-image: url(Images/brickworkBackground.jpg);

}


/*----Accordion-----*/

.accordion {
    background-color: #333;
    color: #ff64b4;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px solid #ff64b4;
    text-align: left;
    outline: none;
    font-size: 1.5em;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #333;
    border-color: #99ff33;
}

.accordion:after {
    content: '\002B';
    color: #ff64b4;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: .5em;
}

/*----------Header--------*/
#header {
    max-width: 60%;
    margin-left: 30em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    opacity: 75%;

}

footer{
    margin-bottom: 2em;
    margin-top: 1em; 
    margin-left: 40%;
  
   
}



/*--------TeamProfileResults---------*/

.teamPersonalityResults {
    display: flex;
            
}

.teamPersonalityResults table{

    border-collapse: collapse;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 1em;
    font-weight: 600;
    padding-left: 5em;
    width: 100%;
    margin-top: -45em;
    margin-bottom: 1em;
}

.teamPersonalityResults td:nth-child(2) {
    text-align: center;
}

/*------ Generic Table styling-----*/
table tr,
th,
td {
    overflow-x: auto;
    border: 0.1em solid #ff64b4;
    
}

td {

    padding: 1em;
}

th {
    
    color: #00ff00;
    font-size: 2em;
    
}

/*------------PageFont----------*/

.mainPageParagraph {
    

    font-size: 2em;
    text-align: center;
    
}

.commonElements {
    
 text-align: center;
    font-size: 2em;
    
}

.headings {
    
    color: #00ff00;
    font-size: 2em;
    text-align: center
    
}

#oldManPic {
    position: relative;
    top: 100px;
    max-width: 50%;
    margin-left: 2em;
    margin-top: 1.em;
    margin-bottom: 1.em;
    opacity: 100%;
    width: 460px
    
        
}

#oldManPic {

border: 0;

}

#oldLady {
    position: relative;
    top: 340px;
    max-width: 50%;
    margin-left: 68em;
    margin-top: 1.em;
    margin-bottom: 1.em;
    opacity: 100%;
    width: 460px
    
        
}

#oldLady {

border: 0;

}

/*-------------------------Media Queries-------------------------*/

@media all and (max-width: 600px) {
    
    footer {
        margin-left: 0%;
    }
    
    #header {
        margin-left: 20%;
        
    } 
    
    .teamPersonalityResults {
        font-size: 0.6em;
        font-weight: 400;
        table-layout: none;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0%;
        padding-right: 0%;
        padding-top: 45em;
        
        
        
        
        
    }
    
 

    
    
    h3 {
        font-size: 0.8em;
        font-weight: 400;
        
    }
    
    #oldLady {
        display: flex
        position: absolute;
        top: 100px;
        max-width: 50%;
        margin-left: 12em;
        margin-top: -3.5em;
        margin-bottom: 0em;
        opacity: 100%;
        width: 100px;
        
        
        
        
        
    }
    
    #oldManPic {
        position: absolute;
        top: 100px;
        max-width: 50%;
        margin-left: 0.8em;
        margin-top: -3.8em;
        margin-bottom: 0em;
        opacity: 100%;
        width: 100px;
        
        
    }

    
}

@media all and (min-width: 601px) and (max-width:992px) {
    footer {
        margin-left: 0%;
    }
    
    #header {
        margin-left: 20%;
        
    } 
    
    .teamPersonalityResults {
        font-size: 1em;
        font-weight: 400;
        table-layout: none;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0%;
        padding-right: auto%;
        padding-top: 45em;
        
        
        }
    
 

    
    
    h3 {
        font-size: 0.8em;
        font-weight: 400;
        
    }
    
    #oldLady {
        position: absolute;
        top: 100px;
        max-width: 50%;
        margin-left: 25.5em;
        margin-top: -3.5em;
        margin-bottom: 0em;
        opacity: 100%;
        width: 150px;
        
        
        
        
        
    }
    
    #oldManPic {
        position: absolute;
        top: 100px;
        max-width: 50%;
        margin-left: 2.3em;
        margin-top: -3.5em;
        margin-bottom: 0em;
        opacity: 100%;
        width: 150px;
        
        
    }
    
    
   
}

@media all and (min-width: 993px) and (max-width:1200px) {
    footer {
        margin-left: 0%;
    }
    
    #header {
        margin-left: 20%;
        
    } 
    
    .teamPersonalityResults {
        font-size: 1em;
        font-weight: 400;
        table-layout: none;
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0%;
        padding-right: auto%;
        padding-top: 45em;
        
        
        }
    
 

    
    
    h3 {
        font-size: 0.8em;
        font-weight: 400;
        
    }
    
    #oldLady {
        position: absolute;
        top: 100px;
        max-width: 50%;
        margin-left: 25.5em;
        margin-top: -3.5em;
        margin-bottom: 0em;
        opacity: 100%;
        width: 150px;
        
        
        
        
        
    }
    
    #oldManPic {
        position: absolute;
        top: 100px;
        max-width: 50%;
        margin-left: 2.3em;
        margin-top: -3.5em;
        margin-bottom: 0em;
        opacity: 100%;
        width: 150px;
        
        
    }



   
}


@media all and (min-width: 1201px) and (max-width:1420px) {
    footer {
        margin-left: 0%;
    }
    
    #header {
        margin-left: 20%;
        
    } 
    
    .teamPersonalityResults {
        font-size: 1em;
        font-weight: 400;
        table-layout: none;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0%;
        padding-right: auto%;
        padding-top: 45em;
        
        
        }
    
 

    
    
    h3 {
        font-size: 0.8em;
        font-weight: 400;
        
    }
    
    #oldLady {
        position: absolute;
        top: 100px;
        max-width: 50%;
        margin-left: 25.5em;
        margin-top: -3.5em;
        margin-bottom: 0em;
        opacity: 100%;
        width: 150px;
        
        
        
        
        
    }
    
    #oldManPic {
        position: absolute;
        top: 100px;
        max-width: 50%;
        margin-left: 2.3em;
        margin-top: -3.5em;
        margin-bottom: 0em;
        opacity: 100%;
        width: 150px;
        
        
    }

   

}



    