body {
    background: #333;
    color: white;
    font-family: 'Rokkitt', Helvetica, Arial, sans-serif;
    background-image: url(Images/brickworkBackground.jpg);

}


/*----Accordion-----*/

.accordion {
    background-color: #333;
    color: #ff64b4;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: 1px solid #ff64b4;
    text-align: left;
    outline: none;
    font-size: 1.5em;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #333;
    border-color: #99ff33;
}

.accordion:after {
    content: '\002B';
    color: #ff64b4;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.panel {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    margin-bottom: .5em;
}

/*----------Header--------*/
#header {
    max-width: 60%;
    margin-left: 20em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
    opacity: 75%;

}

footer{
    margin-bottom: 2em;
    margin-top: 1em; 
    margin-left: 40%;
  
   
}

.copy {   
    display: inline-flex;
opacity: 65%;
}
    


.copy p{
    color: #00ff00;
    text-shadow: 2px 2px 1px black;    
    margin-right: .2em; 
   
}